body{
  background: transparent url("https://lh3.googleusercontent.com/pw/AP1GczPGxOnwDo51AwwTUvB0yIKzB34B7CJike5o9-d0zoIfORUifH0J39HkNiERvHaOwzzB51IoGpaGYXQqFSDD2r5PbEz7Z4umWBdYaRmxfCAqnifGLzF4fzTMFTChMzsBCVqK4XGJuOhJf1PiehC5UtNU=w1164-h665-s-no-gm?authuser=0") no-repeat fixed;
  background-size: cover;
  width: 100%;
  height: 100vh;
  margin: 0;
}
