.bike-img {
    width: 275px;
    height: 185px;
    border-radius: 1rem;
    padding-right: 0.5rem;
    
	background-color: transparent;
	transition: transform 1.25s cubic-bezier(0.215, 0.61, 0.355, 1), box-shadow 1.25s cubic-bezier(0.215, 0.61, 0.355, 1), box-shadow 1.25s cubic-bezier(0.215, 0.61, 0.355, 1),
		filter 1.25s cubic-bezier(0.215, 0.61, 0.355, 1), opacity 1.25s cubic-bezier(0.215, 0.61, 0.355, 1);
	
	will-change: transform;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	
	position: relative;
	z-index: 400;
	
}

.bike-img:hover {
    box-shadow: 0 0 75px rgba(0, 0, 0, 0.20), 0 5px 20px rgba(0, 0, 0, 0.2);		
		mix-blend-mode: hard-light;
		filter: grayscale(25%);
		
        transform: perspective(1600px) translate3d(0, 0, 0) scale(0.9);
}

.bikes {
   padding-left: 6rem; 
}

.bike{
    padding: 1rem;
    display: flex;
    align-items: center;
    
}

.bike-content {
    padding: 0.2rem;
    background-color: rgba(20, 53, 84, 1);
    border: 1px solid ;
    border-radius: 0.5rem ;
    height: auto;
    width: 38rem;
    text-shadow: 0 0 5px #FFF, 0 0 10px #ffffff28, 0 0 15px #ffffff04, 0 0 20px #4aff1800, 0 0 30px #4aff1800, 0 0 40px #4aff1800, 0 0 55px #4aff1800, 0 0 75px #49ff18;
    color: white;
    
    
    
}

.btn-create {
    transform: translate(1250px, 30px);
        color: rgb(255, 255, 255); 
        font-size: 16px; 
        line-height: 16px; 
        padding: 6px; 
        border-radius: 10px; 
        font-family: Georgia, serif; 
        font-weight: normal; 
        text-decoration: none; 
        font-style: normal; 
        font-variant: normal; 
        text-transform: none; 
        background-image: linear-gradient(to right, #A45A3F 0%, #CB5E31 50%, #A45A3F 100%); 
        box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px; 
        border: 2px solid rgb(255, 255, 255); 
        display: inline-block;
        
}

.btn-create:hover {
    background: #01fd94; }
.btn-create:active {
    background: #00ff73; }

    .btn-delete {
        padding: 1rem;
        color: white;
        font-size: 16px; 
        line-height: 16px; 
        padding: 6px; 
        border-radius: 10px; 
        font-family: Georgia, serif; 
        font-weight: normal; 
        text-decoration: none; 
        font-style: normal; 
        font-variant: normal; 
        text-transform: none; 
        background-image: linear-gradient(to right, #A45A3F 0%, #CB5E31 50%, #A45A3F 100%); 
        box-shadow: rgb(0, 0, 0) 2px 2px 7px 2px; 
        border: 2px solid rgb(255, 255, 255); 
        display: inline-block;
    }
    .btn-delete:hover {
        background: #fd0101; }
    .btn-delete:active {
        background: #ff0000; }

    .btn {
        padding: 1rem;
        color: white;
        font-size: 16px; 
        line-height: 16px; 
        padding: 6px; 
        border-radius: 10px; 
        font-family: Georgia, serif; 
        font-weight: normal; 
        text-decoration: none; 
        font-style: normal; 
        font-variant: normal; 
        text-transform: none; 
        background-image: linear-gradient(to right, #A45A3F 0%, #CB5E31 50%, #A45A3F 100%); 
        box-shadow: rgb(0, 0, 0) 2px 2px 7px 2px; 
        border: 2px solid rgb(255, 255, 255); 
        display: inline-block;
    }
    .btn:hover {
        background: #01fd94; }
    .btn:active {
        background: #00ff73; }

.btn-pad {
    display: flex;
    justify-content: space-evenly;
    margin: 1rem;
}

.colors{
prussian-blue: rgba(20, 53, 84, 1);
tigers-eye: rgba(166, 103, 39, 1);
black-bean: rgba(74, 16, 4, 1);
silver: rgba(182, 180, 180, 1);
cinereous: rgba(127, 111, 102, 1);
}