.navbar {
    display: flex;
    flex-wrap: nowrap;
    background-color: rgb(252, 245, 185);
    margin: 0;
    width: auto;
    padding: 0.5rem;
  }

  .navbar-item {
    flex-basis: 20%;
    list-style-type: none;
    text-align: center;
    color: white;
    
  }

  .navbar-link {
    text-decoration: none;
    font-family: "Quicksand", sans-serif;
    letter-spacing: 1px;
    color: black;
  }

  .navbar-logout {
    margin-left: auto;
  }

  .navbar-link:hover {
    color: blue;
    background-color: aquamarine;
    border-radius: 0.5rem;
    padding: 0.2rem;
  } 