.navbar {
    display: flex;
    flex-wrap: nowrap;
    background-color: rgba(127, 111, 102, 1);
    margin: 0;
    width: auto;
    padding: 0.5rem;
    box-shadow: 0px 6px 6px 1px rgba(0,0,0,0.77);
  }

  .navbar-item {
    flex-basis: 20%;
    list-style-type: none;
    text-align: center;
    color: white;
    
  }

  .navbar-link {
    text-decoration: none;
    font-family: "Quicksand", sans-serif;
    letter-spacing: 1px;
    color: black;
  }

  .navbar-logout {
    margin-left: auto;
  }

  .navbar-link:hover {
    border-radius: 0.5rem;
    padding: 0.2rem;
    color: #ffffff;
background-color: #2323234b;
text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #4aff1800, 0 0 30px #4aff1800, 0 0 40px #4aff1800, 0 0 55px #4aff1800, 0 0 75px #49ff18
  } 